body{
    height: 100vh;
    background-color:rgb(233,223 , 255);
    display: flex;
    justify-content: column;
    align-content: center;
    padding: 32px;
    color: rgb(44, 44, 44);
}
h1{
    color: rgb(83, 49, 156);
}
.container{
    background-color: white;
    width: 100%;
    max-width: 900px;
}
