html{
    scroll-behavior: smooth;
}
body{
    max-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: grey;
}
.container{
    display: flex;
    min-height: 6rem;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient( rgb(207, 119, 119), rgb(164, 98, 164));
}
.head{
    font-size: 55px;
    font-weight: 700;
    padding-left: 15px;
    font-family: Neuton;
    transition: transform 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.head:hover{
    transform: translateX(100px);
}
.content a{
    font-family: Lobster Two;
    text-decoration: none;
    display:inline-block; 
    color: black;
    font-size: 20px;
    padding: 0 10px;
    transition: transform 0.4s ease-in-out;
}
.content a:hover{
    transform:scale(0.80) ;
    color: rgb(181, 178, 178);
}
.images{
    width: 15%; 
    display: flex;   
    justify-content: space-between;
}
.images img{
    height:30px;
    width: 30px;
    border: 1px solid black;
    object-fit: cover;
    overflow: hidden;
    border-radius: 30px;
    transition: transform 1s ;
}
.images img:hover{
    transform: rotate(180deg);
    opacity: 0.3;
}
.pink{
    display: flex; 
    justify-content: space-between;
    align-content: center;
}
.pink img{
    margin-top: 15px;
    margin-bottom: 15px;
    width:400px;
    height: 450px;
    transition:transform 0.2s ease-in-out;
}
.pink img:hover{
    transform: translateY(-7px);
    opacity: 0.8;
}
.pinkone img{
    position: relative;
}
.pinktwo img{
    position: relative;
    top: 25px;
}
.design p{
    font-size: 20px;
    display: flex;
    font-family: Bodoni Moda;
    border: 2px solid black;
    color: white;
    background-color: black;
    width: 170px;
    height: 40px;
    text-align: center;
    position: absolute;
    left: 565px;
    bottom: -7px;
    transition:transform 0.5s ease-in-out;
}
.design p:hover{
    transform: translateY(-7px);
    background:linear-gradient( rgb(207, 119, 119), rgb(164, 98, 164));
    color: black;
}

