body{
    margin: 0; 
}
.box{
    border: 1px solid;
    border-radius: 6px;
    width: 35%;
    height: 80vh;
    margin: 15px auto;
    padding:  0 15px;
    
}
h1{
    font-size: 25px;
    margin: 5px 0;
    text-transform: uppercase;
    transition: transform 2s cubic-bezier(0.055, 0.2, 0.155, 1);
    font-family:DM Serif Display ;
    font-weight: 500;
    letter-spacing: 2px;
}
h1:hover{
    transform: translateX(100px);
    color: darkgreen;
    font-family: EB Garamond;
}
#fullname {
    display: flex;
    flex-direction: row;
    font-size: 8px;
    margin: 3px 3px;
}
#firstLabel {
    display: grid; 
}

#firstError {
    display: grid;
}
#lastLabel {
    display: grid;
    margin-left: 20px;
}
#lastError {
    display: grid;
}
#fname {
    display: grid;
    width: 100%;
    height: 15px;
}
#lname {    
    display: grid; 
    width: 100%;
    height: 15px;
}
.email label{
    display: inline-block;
    margin-top: 5px;
}
.type label{
    display: flex;
    flex-direction: column-reverse;   
}
.msg label{
    display: inline-block;
}
label{
    font-weight: 600;
    font-size: 15px;
    font-family: EB Garamond;
}
input{  
    margin: 5px 0;
    border-radius: 3px;
    border-color: black;
    border-width: 1px;
}
input[type="checkbox"]:checked{
    box-shadow: 0 0 0 2px darkgreen;
}
input[type="text"]:hover{
    background-color: rgb(140, 201, 140);
    box-shadow: 0 0 0 2px darkgreen;
}
.email{
    margin: 3px 3px;
}
.email input{
    display: block;
    width: 95%;
    height: 20px;   
}
.type input{
    display: flex;
    flex-direction: column-reverse;
}
.msg{
    margin: 3px 3px;
}
.msg input{
    display: block;
    width: 95%;
    height: 50px; 
}
.checkDIV
{
    margin: 0 3px;
    text-align:left;
}
.links{
     display: block;
     margin: 20px auto;
     height: 30px;
     width: 100%;
     font-weight: 500;
     font-size: 15px;
     background-color: darkgreen;
     text-align: center;
     transition:transform 0.4s ease-in-out ;
    }
a{ 
    color: white;
    text-decoration: none;
}
.links:active {
    transform:translate3d(3px);
}
.general{
    margin: 10px 3px;
    display: flex;
}
.enquiry{
    display: flex;
    padding: 0 20px;
}
.request{
    display: flex;
    padding: 0 20px;
    margin-left: 15px;
}
.type{
    margin: 7px 0;
    font-size: 15px;
    font-weight: 500;
}