body{
    margin: 0;
    padding: 0;
    background-color: rgb(234, 177, 159);
}
.box{
    margin: 100px auto;
    border: 4px ridge rgb(234, 177, 159);
    border-radius:8px ;
    width: 45%;
    height: 55vh;
    display: flex;
}

img{
    border-radius: 8px;
    margin-right: 10px;
    padding-right: 10px;
    width: 50%;
    height: 55vh;
}
img:hover{
    opacity: 0.8;
}
.note{
    overflow: hidden;
}
.note .smell{
    font-family: Oswald;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 8px;
}
.note .text{
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 800;
}
.note .text:hover{
   color:rgb(48, 155, 237);
}
.note .textthree .numbers{
    font-size: 35px;
    font-weight: 700;
}
.note .textthree .numbers:hover{
    color:rgb(48, 155, 237);
}
.note .textthree .number{
    text-decoration: line-through;
    font-size: 10px;
}
.note button{
    padding: 8px 30px;
    margin-right: 70px; 
}
button{
    align-items: center;
    width:90% ;
}
button:hover{
    background-color:rgb(48, 155, 237);
}
a{
    text-decoration: none;
    color: black;
}