body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh ;
    background-color: grey;
}
.spinner{
    width: 200px;
    height: 200px;
    border: 7px solid pink;
    border-radius: 50%;
    border-top-color: black;
    animation:spin 1s infinite ease-out;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}