li{
    color: purple;
}

h1, h2{
    color: blue;
}

#submit{
    background-color: green;
}

#Flavors span{
    color: red;

}

.size{
    color: magenta;
}

input[type="email"]{
    background-color: orange;
}

a[href$=".org"]{
    color: red;
}

h2.bright{
    color: cyan;
}
.Another-button{
    height: 40px;
    width: 120px;
    background-color: purple;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.Another-button:hover {
    background-color: rgb(167, 111, 167);
}
.Another-button:active{
    background-color:white;}