body{
    background:radial-gradient(#046e63 10%, rgb(212, 58, 109));
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    color: black;
    text-decoration: none;
    border: 3px solid black;
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 30px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
   
}
.badge{
    background-color:  rgb(212, 58, 109);
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 47%;
    position: absolute;
    top: -17px;
    right: -17px;

}