body{
    background-color:rgb(214, 135, 161) ;
    font-family: Libre Baskerville;
}
h1{
    display: inline-block;
    font-weight: 700;
    font-size: 40px;
    margin: 20px 35px 0 40px;
    text-transform: capitalize;
}
.border{
    border-radius: 3px;
    border-style: groove;
    padding-bottom: 4px;
    border-color: rgb(201, 59, 106);
}
nav{
    display: inline-block;
}
.links{
    display: inline-block;
}
.links li{
    display: inline-block;
}
.links a{
    color: darkred;
    text-decoration: none;
    font-size: 23px;
    margin-left: 60px;
}
a:hover{
    color: rgb(167, 111, 167);

}

.links ul{
    padding:0; 
}
.navbar{
    margin: 32px; ;
}
.card img{
    height:600px;
    width: 500px;
    padding: 20px 20px;
    margin-left: 200px;
}
.card{
    width: 40%;
    display: inline-block;  
     
}
.card:hover{
    opacity: 0.6;
}
.card h2{
    font-size: 20px;
    padding: 20px 20px;
    margin-left: 220px;
    border: rgb(74, 41, 107) 3px ridge;
    background-color: rgb(204, 110, 110);   
}
.about{
    width: 40%;
    min-width: 600px;
     margin: 100px 0 100px 50px; 

}
.about h3{
    font-size: 30px;
    font-weight: 300;
    margin: 100px 0 100px 50px; 
    text-align: left;
    
    
}
.Let{
    text-decoration: underline;
    
}
.contacts{
    font-size: 25px;
    margin: 100px 0 100px 50px; 
    
    text-align: left;
}