/* percentage */
.one{
    border: 2px solid red;
   height: 100px;
    width: 100px;
}
.two{
    background-color: green;
    width: 50%;
    height: 50%;
}
/* rem */
h1{
    font-size: 6rem;
}
h2{
    font-size: 4rem;
}
/* em  */
p{
    font-size: 1em;
}
/* vh and vw  */
.three{
    margin: 0;
    background-color: brown;
    width: 100%;
    height: 100vh;
}
.four{
    margin: 0;
    background-color: cyan;
    width: 100vw;
    height: 100vh;
}