h1{
    font-size: 60px;
    text-align: center;
    font-family: sans-serif;
}

h2{
    font: size 50px;
    font-style: italic;
    color: #932fbb;
}

h3{
    font-family:Indie flower  ;
    color: rgb(230, 79, 162);
    font-size: 35px;
}

p{
    font-weight: bolder;
    font-size: 40px;
    line-height: 2;
    letter-spacing: 10px;
}