/*universal selectors*/
/* * {
    background-color: rgb(169, 196, 181);
    color: rgba(185, 17, 190, 0.445);
} */
 body{
    background-color: rgba(255, 0, 0, 0.055);
    color: rgba(185, 17, 190, 0.445);
 }

/*attribute selectors
input[type="firstname"]{
    background-color: blue;
}*/

input[type="text"]{
    background-color: red;
    color: white;
}
/*a[href*=""]{
    color: cadetblue;
}*/
/*a[href$=""]{
    color: cadetblue;
}*/
a[href^="#comp"]{
    color: blue;
}

/*Grouping selectors*/
h1,
h2,
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.span, .li {
    color:green;
}

/*Descendant Combinators*/
#cast span{
    color: rgb(0, 0, 0);
}
/*Child Combinators*/
/* ol > li{
    border: 1px solid red;
} */

/* Compound selectors */
div.solar{
    color: darksalmon;
}
div.form{
    color: hotpink;
}