body{
    margin-top: 0;
    margin-left: 0;
    padding-left: 10px;
}

nav{
    position: fixed;
    width:130px ;
    background-color:rgb(76, 206, 76) ;
    height: 990px;
    text-align: left;
    padding:4em ;
    margin-left: 0;
    color:skyblue ;
}
html{
    scroll-behavior: smooth;
}
a{
    color: purple;
    text-decoration: none;
    display: block;
    margin: 3em 0;
}
section{
    display: block;
    /* margin-top:40px; */
    margin-left:258px;
    margin-bottom: 0;
    margin-right: 40px;
    background-color: rgb(91, 231, 220);
    padding: 12em;
    width: 130px;
    height: 990px;
}
#breakfast{
    background-color: rgb(216, 52, 52);
    color: white;
    text-shadow:3px 3px 3px black;
    
}
#lunch{
    background-color: rgb(104, 191, 219);
    color: white;
    text-shadow:3px 3px 3px black;
    font-size: 900;
}
#dinner{
    background-color: rgb(255, 251, 10);
    color: white;
    text-shadow:3px 3px 3px black;
    font-size: 900;
}
#others{
    background-color:brown;
    color: white;
    text-shadow:3px 3px 3px black;
    font-size: 900;
}