body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100dvh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn{
    border: 2px solid crimson;
    padding: 30px 50px;
    margin: 30px;
    border-radius: 25%;
    color: crimson;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease;
}
.btn::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: -1;
}
.btn:hover{
    color:crimson ;

}
.btn:hover::before{
    transform: translateX(0);
}
.btns{
    border: 2px solid green;
    padding: 30px 50px;
    margin: 30px;
    border-radius: 25%;
    color:green;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease;
}
.btns::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}
.btns:hover{
    color:green ;

}
.btns:hover::before{
    transform: translateY(0);
}
.bt{
    border: 2px solid orange;
    padding: 30px 50px;
    margin: 30px;
    border-radius: 25%;
    color:orange;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease;
}
.bt::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}
.bt:hover{
    color:orange ;

}
.bt:hover::before{
    transform: translateX(0);
}