.container{
    background-image: url("https://plus.unsplash.com/premium_photo-1661964309609-abfa2ebe71ba?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8d29sZnxlbnwwfHwwfHx8MA%3D%3D");
    border: 2px solid black;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.container2{
    background-image: url("https://images.unsplash.com/photo-1511688878353-3a2f5be94cd7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGZvb2R8ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 500px;
    border: 2px solid black;
}