body{
    margin: 0;
    padding: 0;
}
.container{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap:10px ;
    margin: 10px auto;
    width: 50%;
    grid-template-columns: repeat(minmax(300px, 1fr));
}
.container .thing{
    height: 200px;
}
/* .first{
    grid-column: 2;
    grid-row: 2;
} */
/* @media only screen and (width<600px){
    .container{
        margin: 10px auto;
    }
} */
