body{
    background-color: rgb(37, 224, 199);
    position: relative;
    margin: 30px 380px;
}
.box{
    background-color: black;
    width: 500px;
    height: 500px;
    position: relative;
}
h1{
    color: white;
    position: absolute;
    top: 200px;
    left: 165px;
}
.box1{
    background-color: #f44336;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
.box2{
    background-color: #e91e63;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
}
.box3{
    background-color: #27b040;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom:0;
    right: 0;
}
.box4{
    background-color:#3f51b5 ;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}