body{
    background-color: blue;
}
@media screen and (min-width: 800px){
    body{
        background-color: purple;
    }
}
@media screen and (min-width: 1000px){
    body{
        background-color: red;
    }
}
@media screen and (max-width: 800px){
    body{
        background-color: orange;
    }
}
@media screen and (height < 500px){
    body{
        background-color: white;
    }
}
@media screen and (height > 700px){
    body{
        background-color:black;
    }
}