body{
    background-color: lightpink;
}

.design{
    /* background-color: lightseagreen; */
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(133, 38, 38, 0.137);
    border-width: 70px;
    width: 600px;
    /* margin: 50px; */
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin: 90px auto;
    
}
h2{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: Georgia;
    padding-bottom: 1px;
    margin-bottom: 0;
}
h1{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: fantasy;
    letter-spacing: 3px;
    color: rgba(235, 109, 109, 0.938);
    padding-top: 2px;
    margin-top: 0;
   

}

p{
    font-size: 25px;
    font-family: cursive;
    line-height: 29px;   
}

button{
    background-color: palevioletred;
    width: 240px;
    height: 45px;
    text-align: center;
    padding-top: 6px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    border-style: ridge;
    border-width: 4px;
    text-transform: capitalize;
    box-shadow: 4px 4px 5px;
    border-color: silver;
   

}