body{
    margin-top: 0;
    margin-left: 0;
    padding-left: 10px;
}

nav{
    position: fixed;
    width:130px ;
    background-color:rgba(59, 57, 57, 0.692) ;
    height: 990px;
    text-align: left;
    padding:4em ;
    margin-left: 0;
}
html{
    scroll-behavior: smooth;
}
a{
    color: purple;
    text-decoration: none;
    display: block;
    margin: 3em 0;
}
section{
    display: block;
    /* margin-top:40px; */
    margin-left:258px;
    margin-bottom: 0;
    margin-right: 40px;
    padding: 6em;
    width: 130px;
    height: 990px;
}
#breakfast{
    background-color: rgb(216, 52, 52);
    color: black;
    text-shadow:2px 4px 8px rgb(235, 22, 235);
    font-size: 40px;
    
}
#lunch{
    background-color: rgb(25, 52, 206);
    color: black;
    text-shadow:2px 4px 8px rgb(235, 22, 235);
    font-size: 40px;
}
#dinner{
    background-color: rgb(255, 251, 10);
    color: black;
    text-shadow:2px 4px 8px rgb(235, 22, 235);
    font-size: 40px;
}
#others{
    background-color:brown;
    color:black;
    text-shadow:2px 4px 8px rgb(235, 22, 235);
    font-size: 40px;
}